<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseForUser::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>View Contacts</title>
</head>
<body>
<section>

<div th:if="${session.message}" class="container"> <!-- for disaplying success/error message depending on message object recieved in httpsession from controller -->
		<div th:classappend="${'alert-'+session.message.type}" class="alert" role="alert">
		<span th:text="${session.message.content}"></span>
</div>
<!-- use session code in one place that is baseforuser html in this case else below code won't work -->
<!-- <th:block th:text="{#session.removeAttribute('message')}"></th:block> removing success/error block so that the same message doesn't appear in every request
 -->	</div>

	<div class="search-container"> <!-- div for search functionality -->
		<input onkeyup="search()" type="text" id="search-input" class="form-control" placeholder="Search">
		
		<div class="search-resul" id="search-result"> <!-- div for showing search result -->
		</div>
	
	</div>

	<table class="table">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c : ${contacts}"> <!-- getting contact object from calling controller -->
      <th scope="row" th:text="${'SCM'+c.cId}"></th>
      <td>
      	<img alt="p" src="" th:src="@{'/' + ${c.image}}">
      	<span th:text="${c.name}"></span>
      </td>
      <td>
      	<a href="#" th:href="@{'/user/contact/' + ${c.cId}}">
      		<span th:text="${c.email}"></span>
      	</a>
      </td>
      <td th:text="${c.phone}"></td>
      <td>
      	<a th:href="@{'/user/delete/' + ${c.cId}}" class="btn btn-danger">Delete</a>
      	<!-- <button class="btn btn-danger">Delete</button> -->
      	<form th:action="@{'/user/update/' + ${c.cId}}" method="post">
      		<button type="submit" class="btn btn-primary">Update</button>
      	</form>
      	
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example"> <!-- block for handling pagination -->
  <ul class="pagination">
    <li th:if="${currentPage!=0}" class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage==i-1 ? 'active' : ''}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show/' + ${i-1}}"><span th:text="${i}"></span></a></li> <!-- this will form li block for page numbers from 1 to end of pages and change the page number to blue which is the current page -->
    <li th:if="${currentPage+1!=totalPages}" class="page-item"><a class="page-link" href="#">Next</a></li> <!-- if block is to show the li tag based on condition if its true -->
  </ul>
</nav>

	</section>
</body>
</html>