<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="baseForUser::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Dashboard</title>
</head>
<body>
<section>
	<h1>Update Contact</h1>
	<div th:if="${session.message}" class="container"> <!-- for disaplying success/error message depending on message object recieved in httpsession from controller -->
		<div th:classappend="${'alert-'+session.message.type}" class="alert" role="alert">
		<span th:text="${session.message.content}"></span>
</div>
<!-- <th:block th:text="{#session.removeAttribute('message')}"></th:block> removing success/error block so that the same message doesn't appear in every request
 -->	</div>
	<form action="#" th:object="${contact}" enctype="multipart/form-data" method="post" th:action="@{/user/updateProcess}"> <!-- getting the object from calling controller -->
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name</label>
    <input th:value="${contact.name}" type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Second Name</label>
    <input th:value="${contact.secondName}" type="text" name="secondName" class="form-control" id="exampleInputPassword1">
  </div>
 <div class="mb-3">
    <label for="exampleInputEmail2" class="form-label">Work</label>
    <input th:value="${contact.work}" type="text" name="work" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail3" class="form-label">E-mail</label>
    <input th:value="${contact.email}" type="email" name="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail4" class="form-label">Phone</label>
    <input th:value="${contact.phone}" type="text" name="phone" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail5" class="form-label">Description</label>
    <input th:value="${contact.description}" type="text" name="description" class="form-control" id="exampleInputEmail5" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail6" class="form-label">Image</label>
    <input type="file" name="pImage" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <input th:value="${contact.image}" type="text" name="image" class="form-control" value=null hidden="true" id="exampleInputEmail7" aria-describedby="emailHelp">
  </div>
  
    <div class="mb-3">
    <input type="text"  th:value="${contact.cId}" name="cId" class="form-control" hidden="true" id="exampleInputEmail7" aria-describedby="emailHelp">
  </div>
  
  <img alt="p" src="" th:src="@{'/' + ${contact.image}}">
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	</section>
</body>
</html>